body ,html {
    margin:0;
    padding: 0;
    background-color:#121818;
}
* {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
#clock{
    font-family:'Orbtron', sans-serif;
    font-size:15px;
    padding:10px;
    background-image: linear-gradient(180deg, rgba(99,253,136,1) 0%,rgba(51,197,142,1) 50%,rgba(39,97,116,1) 100%);
    background-clip:text;
    border-radius:10px;
}
#label-text{
    font-size:20px;
    font-weight: 500;
}
input {
    width:100%;
    padding: 14px 5px;
    outline: none;
    border:1px solid blueviolet;
    border-radius: 5px;
    font-size: 20px;
    font-weight:bold;
    color:#031618;
}
.controls{
    margin-top: 25px;
    /* background: #000; */
    padding:10px;
}

.button{
    font-weight: bold;
    border-radius:5px;
    border:none;
    color:white;
    padding:4px 8px;
    margin-left: 4px;
    cursor: pointer;
    font-size:20px;
}

.set-alarm {
    background-color: #498AFB;
    padding: 8px 10px;
}
.clear-alarm{
    background-color: #FF3860;
    padding: 8px 10px;
}